QWidget#jbossstartscript_area,
QWidget#jbosstempcleanup_area,
QWidget#jbossdeploywar_area,
QWidget#jbossconfigfiles_area
{
    border-style:outset;
    border-width:2px;
    border-color: beige;
}
/*
QPushButton
{
    background-color: #e6eaf2;
    border-style: outset;
    border-width: 2px;
    border-radius: 10px;
    border-color: white/*beige* /;
    padding: 6px;
}
QPushButton:pressed
{
    background-color: lightgray/*rgb(224, 0, 0)* /;
    border-style: inset;
}
*/
